header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer{
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-outer{
  margin: 0 auto;
  max-width: 680px;
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
  position: relative;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* modal,編輯 頁面*/
.new-page{
  max-width: 790px;
  margin: auto;
  background-color: rgb(192, 192, 192);
  border-radius: 30px;
  border: solid 3px white;
}

.edit-page{
  margin-top: -200px;
}

.modal-title{
  padding: 10px;
}

.edit-title{
  text-align: center;
  margin:8px 0 8px;
  color: aquamarine;
}

edit-header{
  border-bottom-color: bisque;
}

.modal-input , .edit-input {
    width: 100%;
    height: 65%;
    border: white;
    border-radius: 0.25rem;
}


#restaurantDelete{
  position: absolute;
  z-index: 1;
  padding: 6px 10px;
  right: -4px;
  font-size: 2rem;
}

@media screen and (max-width: 1140px) {

  .card-body-left {
    max-width: 140px;
  }
}

@media screen and (max-width: 992px) {

  .card-columns { 
    column-count: 2; 
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }

}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  .card-columns { column-count: 1; 
  }
}
